<% details ||= nil %>
<% json_status = status['reblog'] || status %>
<% account = json_status['account'] %>
<article>
  <div class="p-2 mt-2 pb-4 border-bottom">
    <div class="status status-public space-y-2">
      <% if status['pinned'] %>
        <div class="font-bold">
          <svg class="w-3.5 h-3.5 inline-block dark:fill-white" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
               viewBox="0 0 472.613 472.613" xml:space="preserve">
            <path d="M325.631,233.515V49.231C325.631,22.041,303.59,0,276.401,0h-80.188c-27.189,0-49.231,22.041-49.231,49.231v184.285
			c-36.143,8.619-63.053,41.043-63.053,79.826h142.529v159.272h19.692V313.341h142.534
			C388.684,274.558,361.775,242.135,325.631,233.515z"/>
          </svg>
          Pinned post
        </div>
      <% end %>
      <% if status['reblog'] %>
        <div class="font-bold">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="inline-block w-3.5 h-3.5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12c0-1.232-.046-2.453-.138-3.662a4.006 4.006 0 00-3.7-3.7 48.678 48.678 0 00-7.324 0 4.006 4.006 0 00-3.7 3.7c-.017.22-.032.441-.046.662M19.5 12l3-3m-3 3l-3-3m-12 3c0 1.232.046 2.453.138 3.662a4.006 4.006 0 003.7 3.7 48.656 48.656 0 007.324 0 4.006 4.006 0 003.7-3.7c.017-.22.032-.441.046-.662M4.5 12l3 3m-3-3l-3 3"/>
          </svg>

          <%= status['reblog'] ? status['account']['display_name'] : '' %> boosted
        </div>
      <% end %>
      <div class="flex justify-between">
        <a href="<%= account['url'] %>" target="_blank" class="grow dark:text-gray-200 text-gray-700 hover:text-gray-700 flex flex-nowrap items-center">
          <div class="account__avatar">
            <img class="rounded-md w-16" src="<%= account['avatar'] %>" alt="<%= account['display_name'] %>">
          </div>
          <div class="px-2">
            <b><%= account['display_name'] %></b><br>
            <small><%= "#{get_mastodon_id(account)}" %></small>
          </div>
        </a>
        <a href="<%= json_status['url'] %>" target="_blank" class="dark:hover:text-gray-200 text-right w-min sm:w-auto text-gray-600 flex flex-nowrap items-center" rel="noopener noreferrer">
                    <span class="status__visibility-icon hidden sm:inline">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                        <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zM6.262 6.072a8.25 8.25 0 1010.562-.766 4.5 4.5 0 01-1.318 1.357L14.25 7.5l.165.33a.809.809 0 01-1.086 1.085l-.604-.302a1.125 1.125 0 00-1.298.21l-.132.131c-.439.44-.439 1.152 0 1.591l.296.296c.256.257.622.374.98.314l1.17-.195c.323-.054.654.036.905.245l1.33 1.108c.32.267.46.694.358 1.1a8.7 8.7 0 01-2.288 4.04l-.723.724a1.125 1.125 0 01-1.298.21l-.153-.076a1.125 1.125 0 01-.622-1.006v-1.089c0-.298-.119-.585-.33-.796l-1.347-1.347a1.125 1.125 0 01-.21-1.298L9.75 12l-1.64-1.64a6 6 0 01-1.676-3.257l-.172-1.03z" clip-rule="evenodd"/>
                      </svg>
                    </span>
          <time><%= DateTime.parse(status['created_at']).strftime('%Y-%m-%d %H:%M') %></time>
        </a>
      </div>
      <div class="status__content status__content--with-action">
        <div class="break-words status__content__text status__content__text--visible translate external-content">
          <%= sanitize_content(json_status['content'], json_status['url'], details).html_safe %>
        </div>
      </div>
      <% if json_status['media_attachments'].count > 1 %>
        <div class="media-gallery">
          <div id="default-carousel" class="relative w-full" data-carousel="slide">
            <!-- Carousel wrapper -->
            <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
              <% json_status['media_attachments'].each do |attachment| %>
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                  <% if attachment['type'] == 'image' %>
                    <img src="<%= attachment['preview_url'] %>" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                  <% elsif attachment['type'] == 'video' %>
                    <video class="w-full" controls>
                      <source src="<%= attachment['url'] %>" type="video/mp4">
                      Your browser does not support the video tag.
                    </video>
                  <% elsif json_status['media_attachments'][0]['type'] == 'gifv' %>
                    <video class="w-full" autoplay loop muted>
                      <source src="<%= json_status['media_attachments'][0]['url'] %>" type="video/mp4">
                      Your browser does not support the video tag.
                    </video>
                  <% elsif attachment['type'] == 'audio' %>
                    <video class="w-full max-h-60" poster="<%= json_status['account']['avatar'] %>" controls>
                      <source src="<%= attachment['url'] %>" type="audio/mp3">
                      Your browser does not support the audio element.
                    </video>
                  <% end %>
                </div>
              <% end %>
            </div>
            <!-- Slider controls -->
            <button type="button" class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
        <span class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg aria-hidden="true" class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></svg>
            <span class="sr-only">Previous</span>
        </span>
            </button>
            <button type="button" class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
        <span class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg aria-hidden="true" class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
            <span class="sr-only">Next</span>
        </span>
            </button>
          </div>
        </div>
      <% elsif json_status['media_attachments'].count == 1 %>
        <div class="">
          <% if json_status['media_attachments'][0]['type'] == 'image' %>
            <img src="<%= json_status['media_attachments'][0]['preview_url'] %>" class="block w-full" alt="...">
          <% elsif json_status['media_attachments'][0]['type'] == 'video' %>
            <video class="w-full" controls>
              <source src="<%= json_status['media_attachments'][0]['url'] %>" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          <% elsif json_status['media_attachments'][0]['type'] == 'gifv' %>
            <video class="w-full" autoplay loop muted>
              <source src="<%= json_status['media_attachments'][0]['url'] %>" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          <% elsif json_status['media_attachments'][0]['type'] == 'audio' %>
            <video class="w-full max-h-60" poster="<%= json_status['account']['avatar'] %>" controls>
              <source src="<%= json_status['media_attachments'][0]['url'] %>" type="audio/mp3">
              Your browser does not support the audio element.
            </video>
          <% end %>
        </div>
      <% end %>
      <div class="grid h-full max-w-lg grid-cols-3 mx-auto font-medium text-sm">
        <a href="<%= json_status['url'] %>" target="_blank" class="flex items-center justify-center px-5 hover:bg-gray-200 hover:no-underline dark:hover:bg-gray-800 group">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5 mb-1 text-gray-500 dark:text-gray-400 group-hover:text-blue-600 dark:group-hover:text-blue-500">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 15L3 9m0 0l6-6M3 9h12a6 6 0 010 12h-3"/>
          </svg>
          <span class="px-4 py-2 text-gray-500 dark:text-gray-400 group-hover:text-blue-600 dark:group-hover:text-blue-500"><%= json_status['replies_count'].to_i %></span>
        </a>
        <a href="<%= json_status['url'] %>" target="_blank" class="flex items-center justify-center px-5 hover:bg-gray-200 hover:no-underline dark:hover:bg-gray-800 group">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5 mb-1 text-gray-500 dark:text-gray-400 group-hover:text-blue-600 dark:group-hover:text-blue-500">
            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12c0-1.232-.046-2.453-.138-3.662a4.006 4.006 0 00-3.7-3.7 48.678 48.678 0 00-7.324 0 4.006 4.006 0 00-3.7 3.7c-.017.22-.032.441-.046.662M19.5 12l3-3m-3 3l-3-3m-12 3c0 1.232.046 2.453.138 3.662a4.006 4.006 0 003.7 3.7 48.656 48.656 0 007.324 0 4.006 4.006 0 003.7-3.7c.017-.22.032-.441.046-.662M4.5 12l3 3m-3-3l-3 3"/>
          </svg>
          <span class="px-4 py-2 text-gray-500 dark:text-gray-400 group-hover:text-blue-600 dark:group-hover:text-blue-500"><%= json_status['reblogs_count'].to_i %></span>
        </a>
        <a href="<%= json_status['url'] %>" target="_blank" class="flex items-center justify-center px-5 hover:bg-gray-200 hover:no-underline dark:hover:bg-gray-800 group">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5 mb-1 text-gray-500 dark:text-gray-400 group-hover:text-blue-600 dark:group-hover:text-blue-500">
            <path stroke-linecap="round" stroke-linejoin="round" d="M11.48 3.499a.562.562 0 011.04 0l2.125 5.111a.563.563 0 00.475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 00-.182.557l1.285 5.385a.562.562 0 01-.84.61l-4.725-2.885a.563.563 0 00-.586 0L6.982 20.54a.562.562 0 01-.84-.61l1.285-5.386a.562.562 0 00-.182-.557l-4.204-3.602a.563.563 0 01.321-.988l5.518-.442a.563.563 0 00.475-.345L11.48 3.5z"/>
          </svg>
          <span class="px-4 py-2 text-gray-500 dark:text-gray-400 group-hover:text-blue-600 dark:group-hover:text-blue-500"><%= json_status['favourites_count'].to_i %></span>
        </a>
      </div>
    </div>
  </div>
</article>
<hr class="h-1 my-2 bg-gray-200 border-0 rounded dark:bg-gray-700">