<div data-public--subscribe-target="subscribeForm" class="px-6 py-6 lg:px-8">
  <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white" data-public--subscribe-target="formTitle">
    <% if action_name == 'show' %>
      Add <a href="#" target="_blank"><%= params[:handle] %></a> as Organization
    <% else %>
      Suggest New Listing
    <% end %>
  </h3>
  <ol class="flex items-center w-full py-3 space-x-2 text-sm font-medium text-center text-gray-500
         bg-white dark:text-gray-400 sm:text-base dark:bg-gray-800 dark:border-gray-700 sm:py-4 sm:space-x-4">
    <li class="select-none cursor-pointer flex items-center text-blue-600 dark:text-blue-500 text-sm" data-public--subscribe-target="stepper0"
        data-action="click->public--subscribe#resetForm">
            <span class="flex items-center justify-center w-5 h-5 mr-2 text-xs border border-blue-600 rounded-full shrink-0 dark:border-blue-500">
                1
            </span>
      Add <span class="hidden sm:inline-flex sm:ml-2"><%= Setting.application_profile || 'Account' %></span>
      <svg aria-hidden="true" class="w-4 h-4 ml-2 sm:ml-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5l7 7-7 7M5 5l7 7-7 7"></path>
      </svg>
    </li>
    <li class="select-none cursor-pointer flex items-center text-gray-600 dark:text-gray-500 text-sm" data-public--subscribe-target="stepper1"
        data-action="click->public--subscribe#step1">
            <span class="flex items-center justify-center w-5 h-5 mr-2 text-xs border border-gray-600 rounded-full shrink-0 dark:border-gray-500">
                2
            </span>
      Organization <span class="hidden sm:inline-flex sm:ml-2">Information</span>
      <svg aria-hidden="true" class="w-4 h-4 ml-2 sm:ml-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5l7 7-7 7M5 5l7 7-7 7"></path>
      </svg>
    </li>
    <li class="select-none cursor-pointer flex items-center text-gray-600 dark:text-gray-500 text-sm" data-public--subscribe-target="stepper2"
        data-action="click->public--subscribe#step2">
            <span class="flex items-center justify-center w-5 h-5 mr-2 text-xs border border-gray-600 rounded-full shrink-0 dark:border-gray-500">
                3
            </span>
      Professional <span class="hidden sm:inline-flex sm:ml-2">Information</span>
    </li>
  </ol>
  <div>
    <%= render partial: 'public/accounts/common/step0' %>
    <%= render partial: 'public/accounts/common/step01' %>
    <div data-public--subscribe-target="step1" class="space-y <%= 'hidden' unless action_name == 'show' %> ">
      <%= render partial: 'public/accounts/common/account_card' %>
      <div class="flex flex-col space-y md:flex-row md:space-y-0 justify-between mb-2">
        <h4>Organization Information</h4>
      </div>
      <div class="flex flex-col space-y md:flex-row md:space-y-0 justify-between mb-2">
        <div class="space-y w-full md:w-1/2 pl-0 md:pr-2">
          <input data-tooltip-target="tooltip-accountOrganisation" type="text" name="account-organisation" id="account-organisation" class="bg-gray-50 border border-gray-300
                 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
                  dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                 placeholder="Your Business or Firm Name *" data-public--subscribe-target="accountOrganisation" required>
          <div id="tooltip-accountOrganisation" role="tooltip"
               class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white
                      transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
            Your Business or Firm Name *
            <div class="tooltip-arrow" data-popper-arrow></div>
          </div>
        </div>
        <div class="space-y w-full md:w-1/2 pr-0 md:pl-2">
          <% if Setting.organisation_types.present? %>
            <%= select_tag 'profile-organisation-type', options_for_select(Setting.organisation_types.split("\n").map(&:chomp)), prompt: 'Business Type *',
                           class: "bg-gray-50 border border-gray-300
                 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
                  dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white", autocomplete: 'off',
                           required: true,
                           data: { 'public--subscribe-target': 'accountOrganisationType', 'tooltip-target': 'tooltip-accountOrganisationType' } %>
          <% else %>
            <input data-tooltip-target="tooltip-accountOrganisationType" type="text" name="account-organisation-type"
                   id="account-organisation-type" class="bg-gray-50 border border-gray-300
                       text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
                       dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                   placeholder="Business Type *" data-public--subscribe-target="accountOrganisationType" required>
          <% end %>
          <div id="tooltip-accountOrganisationType" role="tooltip"
               class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white
                      transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
            Business Type *
            <div class="tooltip-arrow" data-popper-arrow></div>
          </div>
        </div>
      </div>
      <div class="flex flex-col space-y md:flex-row md:space-y-0 justify-between mb-2">
        <div class="space-y w-full md:w-1/2 pr-0 md:pr-2">
          <input data-tooltip-target="tooltip-accountEmail" type="email" name="account-email" id="account-email"
                 class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500
                        focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500
                        dark:placeholder-gray-400 dark:text-white" placeholder="Email *"
                 data-public--subscribe-target="accountEmail" required>
          <div id="tooltip-accountEmail" role="tooltip"
               class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white
                      transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
            <%= Setting.application_profile || 'Account' %> Email
            <div class="tooltip-arrow" data-popper-arrow></div>
          </div>
        </div>
        <div class="space-y w-full md:w-1/2 pl-0 md:pl-2">
          <input data-tooltip-target="tooltip-accountPhoneNumber" type="tel" name="account-phone-number" id="account-phone-number" class="bg-gray-50 border
                 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block
                  w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                 placeholder="Phone Number" data-public--subscribe-target="accountPhoneNumber">
          <div id="tooltip-accountPhoneNumber" role="tooltip"
               class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white
                      transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
            Phone Number
            <div class="tooltip-arrow" data-popper-arrow></div>
          </div>
        </div>
      </div>
      <div class="flex flex-col space-y md:flex-row md:space-y-0 justify-between mb-2" data-controller="country-region">
        <div data-tooltip-target="tooltip-accountAddress" class="w-full">
          <textarea name="account-address" id="account-address" class="bg-gray-50 border
                 border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 block placeholder-gray-400
                  w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 text-gray-900 text-sm dark:placeholder-gray-400 dark:text-white"
                    placeholder="Address *" data-public--subscribe-target="accountAddress" required></textarea>
        </div>
        <div id="tooltip-accountAddress" role="tooltip"
             class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white
                      transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
          Address *
          <div class="tooltip-arrow" data-popper-arrow></div>
        </div>
      </div>
      <div class="flex flex-col space-y md:flex-row md:space-y-0 justify-between mb-2" data-controller="country-region">
        <div class="space-y w-full md:w-1/2 pr-0 md:pr-2">
          <div data-tooltip-target="tooltip-accountCountry">
            <input type="text" name="account-country" id="account-country" class="bg-gray-50 border
                 border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 block placeholder-gray-400
                  w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 text-gray-900 text-sm dark:placeholder-gray-400 dark:text-white"
                   placeholder="Country *" data-public--subscribe-target="accountCountry" data-country-region-target="profileCountry"
                   data-controller="tom-select" data-tom-select-url-value="/countries.json" data-tom-select-placeholder-value="Country *"
                   data-action="change->country-region#updateRegion" required>
          </div>
          <div id="tooltip-accountCountry" role="tooltip"
               class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white
                      transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
            Country *
            <div class="tooltip-arrow" data-popper-arrow></div>
          </div>
        </div>
        <div class="space-y w-full md:w-1/2 pl-0 md:pl-2">
          <div data-tooltip-target="tooltip-accountRegion">
            <input data-tooltip-target="tooltip-accountRegion" type="text" name="account-region" id="account-region"
                   class="bg-gray-50 border
                 border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 block placeholder-gray-400
                  w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 text-gray-900 text-sm dark:placeholder-gray-400 dark:text-white"
                   placeholder="City/State/Region *" data-public--subscribe-target="accountRegion" data-country-region-target="profileRegion"
                   data-controller="tom-select" data-tom-select-url-value="/regions.json" data-tom-select-placeholder-value="City/State/Region *"
                   data-tom-select-params-value="" required disabled>
          </div>
          <div id="tooltip-accountRegion" role="tooltip"
               class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white
                      transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
            City/State/Region *
            <div class="tooltip-arrow" data-popper-arrow></div>
          </div>
        </div>
      </div>
      <div class="flex flex-col space-y md:flex-row md:space-y-0 justify-between mb-2">
        <h4>Primary Contact</h4>
      </div>
      <div class="flex flex-col space-y md:flex-row md:space-y-0 justify-between mb-2">
        <div class="space-y w-full md:w-1/2 pr-0 md:pr-2">
          <input data-tooltip-target="tooltip-accountFirstName" type="text" name="account-first-name" id="account-first-name" class="bg-gray-50 border
                 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block
                  w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                 placeholder="First Name *" data-public--subscribe-target="accountFirstName" required>
          <div id="tooltip-accountFirstName" role="tooltip"
               class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white
                      transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
            First Name *
            <div class="tooltip-arrow" data-popper-arrow></div>
          </div>
        </div>
        <div class="space-y w-full md:w-1/2 pl-0 md:pl-2">
          <input data-tooltip-target="tooltip-accountLastName" type="text" name="account-last-name" id="account-last-name" class="bg-gray-50 border
                 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block
                  w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                 placeholder="Last Name *" data-public--subscribe-target="accountLastName" required>
          <div id="tooltip-accountLastName" role="tooltip"
               class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white
                      transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
            Last Name *
            <div class="tooltip-arrow" data-popper-arrow></div>
          </div>
        </div>
      </div>
      <div class="flex flex-col space-y md:flex-row md:space-y-0 justify-between mb-2">
        <div class="space-y w-full md:w-1/2 pr-0 md:pr-2">
          <% if Setting.jobs_list.present? %>
            <%= select_tag 'profile-job-title', options_for_select(Setting.jobs_list.split("\n").map(&:chomp)), prompt: 'Enter Your Job Title *',
                           class: "bg-gray-50 border border-gray-300
                 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
                  dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white", autocomplete: 'off',
                           required: true,
                           data: { 'public--subscribe-target': 'accountJobTitle', 'tooltip-target': 'tooltip-accountJobTitle' } %>
          <% else %>
            <input data-tooltip-target="tooltip-accountJobTitle" type="text" name="account-job-title"
                   id="account-job-title" class="bg-gray-50 border border-gray-300
                       text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
                       dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                   placeholder="Enter Your Job Title *" data-public--subscribe-target="accountJobTitle" required>
          <% end %>
          <div id="tooltip-accountJobTitle" role="tooltip"
               class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white
                      transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
            Your Job Title *
            <div class="tooltip-arrow" data-popper-arrow></div>
          </div>
        </div>
        <div class="space-y w-full md:w-1/2 pl-0 md:pl-2">
        </div>
      </div>
      <div class="flex flex-nowrap justify-end">
        <button type="button" class="w-min text-white bg-red-700 hover:bg-red-800 focus:ring-4
             focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center
              dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800 m-2" data-action="public--subscribe#resetForm">
          Reset
        </button>
        <button type="submit" class="w-min text-white bg-blue-700 hover:bg-blue-800 focus:ring-4
             focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center
              dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 m-2"
                data-action="public--subscribe#step2">
          Next
        </button>
      </div>
    </div>
    <div class="hidden space-y" data-public--subscribe-target="step2">
      <div data-tooltip-target="tooltip-accountTopic" class="<%= 'hidden' if Topic.count.zero? %> flex flex-column space-y-4 xl:flex-row xl:space-y-0 justify-between my-4">
        <%= render partial: 'public/topics/topics_select',
                   locals: { data: { controller: 'public--subscribe', target: 'accountTopic' } } %>
      </div>
      <div id="tooltip-accountTopic" role="tooltip"
           class="<%= 'hidden' if Topic.count.zero? %> absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white
                      transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
        Select Topics ...
        <div class="tooltip-arrow" data-popper-arrow></div>
      </div>
      <div class="flex xl:flex-row xl:space-y-0 justify-between my-4">
        <div class="w-full">
          <div data-tooltip-target="tooltip-keywords">
            <input type="text" name="profile-keywords" id="profile-keywords" class="bg-gray-50 border
                 border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 block placeholder-gray-400
                  w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 text-gray-900 text-sm dark:placeholder-gray-400 dark:text-white"
                   placeholder="Add search terms that highlight topics of expertise ..." data-public--subscribe-target="accountKeywords"
                   data-controller="keywords-field" data-keywords-field-placeholder-value="Add search terms that highlight topics of expertise ...">
          </div>
          <div id="tooltip-keywords" role="tooltip"
               class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white
                      transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
            Keywords ...
            <div class="tooltip-arrow" data-popper-arrow></div>
          </div>
        </div>
      </div>
      <div class="flex xl:flex-row xl:space-y-0 justify-between my-4">
        <div class="w-full">
          <div data-tooltip-target="tooltip-hashtags">
            <input type="text" name="profile-hashtags" id="profile-hashtags" class="bg-gray-50 border
                 border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 block placeholder-gray-400
                  w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 text-gray-900 text-sm dark:placeholder-gray-400 dark:text-white"
                   placeholder="Add hashtags that highlight topics of expertise ..." data-public--subscribe-target="accountHashtags"
                   data-controller="hashtags-field" data-hashtags-field-placeholder-value="Add hashtags that highlight topics of expertise ...">
          </div>
          <div id="tooltip-hashtags" role="tooltip"
               class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white
                      transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
            Hashtags ...
            <div class="tooltip-arrow" data-popper-arrow></div>
          </div>
        </div>
      </div>
      <div class="flex flex-col space-y md:flex-row md:space-y-0 justify-between mb-2">
        <div class="space-y w-full md:w-1/2 pr-0 md:pr-2">
          <input data-tooltip-target="tooltip-accountWebsiteUrl" type="text" name="account-website-url" id="account-website-url" class="bg-gray-50 border border-gray-300
                 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
                  dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                 placeholder="Your Website URL" data-public--subscribe-target="accountWebsiteUrl">
          <div id="tooltip-accountWebsiteUrl" role="tooltip"
               class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white
                      transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
            Your Website URL
            <div class="tooltip-arrow" data-popper-arrow></div>
          </div>
        </div>
        <div class="space-y w-full md:w-1/2 pl-0 md:pl-2">
          <input data-tooltip-target="tooltip-accountBlogUrl" type="text" name="account-blog-url" id="account-blog-url" class="bg-gray-50 border
                 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block
                  w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                 placeholder="Accountal Blog URL" data-public--subscribe-target="accountBlogUrl">
          <div id="tooltip-accountBlogUrl" role="tooltip"
               class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white
                      transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
            Accountal Blog URL
            <div class="tooltip-arrow" data-popper-arrow></div>
          </div>
        </div>
      </div>
      <div class="flex w-full flex-col space-y-4 justify-between my-4" data-controller="profile--urls"
           data-profile--urls-controller-value="public--subscribe"></div>
      <div class="flex flex-nowrap justify-end">
        <button type="button" class="w-min text-white bg-red-700 hover:bg-red-800 focus:ring-4
             focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center
              dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800 m-2" data-action="public--subscribe#resetForm">
          Reset
          <svg aria-hidden="true" class="invisible absolute right-3 inline w-4 h-4 mx-3 text-gray-200 animate-spin dark:text-gray-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
            <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="#1C64F2"/>
          </svg>
        </button>
        <button type="submit" class="relative w-40 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4
             focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center
              dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 m-2"
                data-action="public--subscribe#submit">
          Submit
          <svg aria-hidden="true" class="invisible absolute right-3 inline w-4 h-4 mx-3 text-gray-200 animate-spin dark:text-gray-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
            <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="#1C64F2"/>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>