<% unless params[:q].present? %>
  <%= turbo_stream.update params[:frame_id] do %>
    <div class="w-full z-10 bg-white dark:bg-gray-600
     rounded-b-lg shadow">
      <input type="hidden" value="<%= params[:topic_id] %>" id="topic-id" data-topics-target="searchTopic">
      <div class="flex justify-between">
        <div class="relative w-full p-1">
          <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
            <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none" stroke="currentColor"
                 viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
            </svg>
          </div>
          <input type="search" class="block w-full p-1 pl-10 text-sm text-gray-900 border border-gray-300
           rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600
            dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                 value="<%= params[:q] %>" autocomplete="off"
                 data-topics-target="searchInput" data-action="input->topics#query" placeholder="Search for topics..." autofocus/>
        </div>
      </div>
      <%= turbo_frame_tag "#{params[:frame_id]}_list", autoscroll: true %>
    </div>
  <% end %>
<% end %>
<%= turbo_stream.update "#{params[:frame_id]}_list" do %>
  <ul class="pb-2 text-sm text-gray-700 dark:text-gray-200 divide-y divide-gray-100  h-60 overflow-y-auto
   dark:bg-gray-700 dark:divide-gray-600" aria-labelledby="dropdownDividerButton">
    <% unless @topic.nil? %>
      <li class="flex justify-start">
        <a href="/topics?topic_id=<%= @topic.parent_id %>&frame_id=<%= params[:frame_id] %>" class="font-bold block px-4 py-2 hover:bg-gray-100 cursor-pointer
         dark:hover:bg-gray-600 dark:hover:text-white hover:text-gray-700 text-gray-700 decoration-inherit dark:text-gray-200" data-turbo-stream>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
            <path stroke-linecap="round" stroke-linejoin="round" d="M18.75 19.5l-7.5-7.5 7.5-7.5m-6 15L5.25 12l7.5-7.5"/>
          </svg>
        </a>
        <span class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 cursor-pointer dark:hover:text-white
         grow" data-action="click->topics#addTopic" data-topics-topic-param="<%= @topic.id %>">
          <b><%= @topic.name.capitalize %></b>
        </span>
      </li>
    <% end %>
    <% @topics.each do |topic| %>
      <li class="flex justify-between">
          <span class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 cursor-pointer dark:hover:text-white
           grow" data-action="click->topics#addTopic" data-topics-topic-param="<%= topic.id %>">
            <%= topic.name.capitalize %>
          </span>
        <% if topic.children.count.positive? %>
          <a href="/topics?topic_id=<%= topic.id %>&frame_id=<%= params[:frame_id] %>" class="hover:text-gray-700 text-gray-700 font-bold block px-4 py-2
           hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white decoration-inherit cursor-pointer dark:text-gray-200" data-turbo-stream>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
              <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5"/>
            </svg>
          </a>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
<%= render partial: 'update_value',
           locals: { frame_value: "#{params[:frame_id]}_value", topics: @selected_topics } %>