<div class="w-full mx-auto overflow-y-auto box-table pb-0.5 p-2 dark:bg-dark overflow-x-hidden flex flex-col">
  <div class="p-2 w-full">
    <div class="space-y">
      <div class="flex" data-controller="country-region">
        <div class="space-y w-1/2 pr-2">
          <div>
            <input data-tooltip-target="tooltip-profileEmail" type="email" name="profile-email" id="profile-email"
                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500
                        focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500
                        dark:placeholder-gray-400 dark:text-white" placeholder="Email *" tabindex="1"
                   data-public--main-target="profileEmail" required value="<%= @account.email %>">
            <div id="tooltip-profileEmail" role="tooltip"
                 class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white
                      transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
              Email *
              <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
          </div>
          <label class="relative inline-flex items-center mb-4 cursor-pointer">
            <input type="checkbox" value="" class="sr-only peer" <%= 'checked' if @account.show_email %> data-public--main-target="profileShowEmail">
            <div class="w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
            <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">Public Email</span>
          </label>
          <div>
            <input data-tooltip-target="tooltip-profileFirstName" type="text" name="profile-first-name" id="profile-first-name" class="bg-gray-50 border
                 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block
                  w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                   placeholder="First Name *" data-public--main-target="profileFirstName" tabindex="3"
                   value="<%= @account.first_name %>" required>
            <div id="tooltip-profileFirstName" role="tooltip"
                 class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white
                      transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
              First Name *
              <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
          </div>
          <div>
            <div data-tooltip-target="tooltip-profileCountry">
              <input type="text" name="profile-country" id="profile-country" class="bg-gray-50 border
                 border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 block placeholder-gray-400
                  w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 text-gray-900 text-sm dark:placeholder-gray-400 dark:text-white"
                     placeholder="Country *" data-public--main-target="profileCountry" data-country-region-target="profileCountry" tabindex="6"
                     data-controller="tom-select" data-tom-select-url-value="/countries.json" data-tom-select-placeholder-value="Country *"
                     data-tom-select-items-value="<%= { id: @account.region&.country_id, name: @account.region&.country&.name }.to_json if @account.region %>"
                     data-action="change->country-region#updateRegion" required>
            </div>
            <div id="tooltip-profileCountry" role="tooltip"
                 class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white
                      transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
              Country *
              <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
          </div>
        </div>
        <div class="space-y w-1/2 pl-2">
          <div>
            <input data-tooltip-target="tooltip-profilePhoneNumber" type="tel" name="profile-phone-number" id="profile-phone-number" class="bg-gray-50 border
                 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block
                  w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                   placeholder="Phone Number" data-public--main-target="profilePhoneNumber" tabindex="2"
                   value="<%= @account.phone_number %>">
            <div id="tooltip-profilePhoneNumber" role="tooltip"
                 class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white
                      transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
              Phone Number *
              <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
          </div>
          <label class="relative inline-flex items-center mb-4 cursor-pointer">
            <input type="checkbox" value="" class="sr-only peer" <%= 'checked' if @account.show_phone %> data-public--main-target="profileShowPhone">
            <div class="w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
            <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">Public Phone</span>
          </label>
          <div>
            <input data-tooltip-target="tooltip-profileLastName" type="text" name="profile-last-name" id="profile-last-name" class="bg-gray-50 border
                 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block
                  w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                   placeholder="Last Name *" data-public--main-target="profileLastName" tabindex="4"
                   value="<%= @account.last_name %>" required>
            <div id="tooltip-profileLastName" role="tooltip"
                 class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white
                      transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
              Last Name *
              <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
          </div>
          <div>
            <div data-tooltip-target="tooltip-profileRegion">
              <input data-tooltip-target="tooltip-profileRegion" type="text" name="profile-region" id="profile-region" class="bg-gray-50 border
                 border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 block placeholder-gray-400
                  w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 text-gray-900 text-sm dark:placeholder-gray-400 dark:text-white"
                     placeholder="City/State/Region *" data-public--main-target="profileRegion" data-country-region-target="profileRegion" tabindex="6"
                     data-controller="tom-select" data-tom-select-url-value="/regions.json" data-tom-select-placeholder-value="City/State/Region *"
                     data-tom-select-items-value="<%= { id: @account.region_id, name: @account.region.name }.to_json if @account.region %>"
                     data-tom-select-params-value="" required <%= 'disabled' unless @account.region %>>
            </div>
            <div id="tooltip-profileRegion" role="tooltip"
                 class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white
                      transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
              City/State/Region *
              <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex p-2">
        <label class="relative inline-flex items-center mb-4 cursor-pointer">
          <input type="checkbox" value="" class="sr-only peer" <%= 'checked' if @account.show_location %> data-public--main-target="profileShowLocation">
          <div class="w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
          <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">Public Location</span>
        </label>
      </div>
      <div class="<%= 'hidden' if Topic.count.zero? %>">
        <div data-tooltip-target="tooltip-profileTopic" class="flex my-1" tabindex="7">
          <%= render partial: 'public/topics/topics_select',
                     locals: { value: @account.topic_ids.join(','), topics: @account.topics,
                               data: { controller: 'public--main', target: 'profileTopic' } } %>
          <div id="tooltip-profileTopic" role="tooltip"
               class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white
                      transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
            Topics ...
            <div class="tooltip-arrow" data-popper-arrow></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="p-2 w-full">
    <div class="space-y">
      <div class="flex xl:flex-row justify-between my-4">
        <div class="space-y w-1/2 pr-2">
          <div>
            <% if Setting.jobs_list.present? %>
              <%= select_tag 'profile-job-title', options_for_select(Setting.jobs_list.split("\n").map(&:chomp), @account.job_title), prompt: 'Enter Your Job Title *',
                             class: "bg-gray-50 border border-gray-300
                                     text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
                                     dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white", autocomplete: 'off',
                             tabindex: '8', data: { 'public--main-target': 'profileJobTitle', 'tooltip-target': 'tooltip-profileJobTitle' } %>
            <% else %>
              <input data-tooltip-target="tooltip-profileJobTitle" type="text" name="profile-job-title"
                     id="profile-job-title" class="bg-gray-50 border border-gray-300
                             text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
                             dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                     placeholder="Enter Your Job Title *" data-public--main-target="profileJobTitle" tabindex="8"
                     value="<%= @account.job_title %>" required>
            <% end %>
            <div id="tooltip-profileJobTitle" role="tooltip"
                 class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white
                      transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
              Your Job Title *
              <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
          </div>
          <div>
            <% if Setting.organisation_types.present? %>
              <%= select_tag 'profile-organisation-type', options_for_select(Setting.organisation_types.split("\n").map(&:chomp), @account.organisation_type),
                             prompt: 'Business Type *',
                             class: "bg-gray-50 border border-gray-300
                                     text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
                                     dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white", autocomplete: 'off',
                             required: true, tabindex: '10',
                             data: { 'public--main-target': 'profileOrganisationType', 'tooltip-target': 'tooltip-profileOrganisationType' } %>
            <% else %>
              <input data-tooltip-target="tooltip-profileOrganisationType" type="text" name="profile-organisation-type"
                     id="profile-organisation-type" class="bg-gray-50 border border-gray-300
                             text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
                             dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                     placeholder="Business Type *" data-public--main-target="profileOrganisationType" tabindex="10"
                     value="<%= @account.organisation_type %>" required>
            <% end %>
            <div id="tooltip-profileOrganisationType" role="tooltip"
                 class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white
                      transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
              Business Type *
              <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
          </div>
        </div>
        <div class="space-y w-1/2 pl-2">
          <div>
            <input data-tooltip-target="tooltip-profileOrganisation" type="text" name="profile-organisation" id="profile-organisation" class="bg-gray-50 border border-gray-300
                 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
                  dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                   placeholder="Your Business or Firm Name *" data-public--main-target="profileOrganisation" tabindex="9"
                   value="<%= @account.organisation %>" required>
            <div id="tooltip-profileOrganisation" role="tooltip"
                 class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white
                      transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
              Your Business or Firm Name *
              <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex xl:flex-row xl:space-y-0 justify-between my-4">
        <div class="w-full">
          <div data-tooltip-target="tooltip-keywords">
            <input type="text" name="profile-keywords" id="profile-keywords" class="bg-gray-50 border
                 border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 block placeholder-gray-400
                  w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 text-gray-900 text-sm dark:placeholder-gray-400 dark:text-white"
                   placeholder="Add search terms that highlight topics of expertise ..." data-public--main-target="profileKeywords" tabindex="10"
                   data-controller="keywords-field" data-keywords-field-placeholder-value="Add search terms that highlight topics of expertise ..."
                   data-keywords-field-items-value="<%= @account.keywords.to_s.split(',') %>">
          </div>
          <div id="tooltip-keywords" role="tooltip"
               class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white
                      transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
            Keywords ...
            <div class="tooltip-arrow" data-popper-arrow></div>
          </div>
        </div>
      </div>
      <div class="flex xl:flex-row xl:space-y-0 justify-between my-4">
        <div class="w-full">
          <div data-tooltip-target="tooltip-hashtags">
            <input type="text" name="profile-hashtags" id="profile-hashtags" class="bg-gray-50 border
                 border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 block placeholder-gray-400
                  w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 text-gray-900 text-sm dark:placeholder-gray-400 dark:text-white"
                   placeholder="Add hashtags that highlight topics of expertise ..." data-public--main-target="profileHashtags" tabindex="10"
                   data-controller="hashtags-field" data-hashtags-field-placeholder-value="Add hashtags that highlight topics of expertise ..."
                   data-hashtags-field-items-value="<%= @account.hashtags.to_s.split(',') %>"
                   data-hashtags-field-url-value="<%= @account.instance || @account.mastodon_handle.split('@').last %>">
          </div>
          <div id="tooltip-hashtags" role="tooltip"
               class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white
                      transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
            Hashtags ...
            <div class="tooltip-arrow" data-popper-arrow></div>
          </div>
        </div>
      </div>
      <div class="flex xl:flex-row xl:space-y-0 justify-between my-4">
        <div class="space-y w-1/2 pr-2">
          <div>
            <input data-tooltip-target="tooltip-profileWebsiteUrl" type="text" name="profile-website-url" id="profile-website-url" class="bg-gray-50 border border-gray-300
                 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
                  dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                   placeholder="Your Website URL" data-public--main-target="profileWebsiteUrl" tabindex="11"
                   value="<%= @account.website_url %>">
            <div id="tooltip-profileWebsiteUrl" role="tooltip"
                 class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white
                      transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
              Your Website URL
              <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
          </div>
        </div>
        <div class="space-y w-1/2 pl-2">
          <div>
            <input data-tooltip-target="tooltip-profileBlogUrl" type="text" name="profile-blog-url" id="profile-blog-url" class="bg-gray-50 border
                 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block
                  w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                   placeholder="Accountal Blog URL" data-public--main-target="profileBlogUrl" tabindex="12"
                   value="<%= @account.blog_url %>">
            <div id="tooltip-profileBlogUrl" role="tooltip"
                 class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white
                      transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
              Accountal Blog URL
              <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex w-full flex-col space-y-4 justify-between my-4" data-controller="profile--urls"
           data-profile--urls-tabindex-value="12" data-profile--urls-controller-value="public--main">
        <% @account.urls.each do |url| %>
          <div class="group flex items-center w-full">
            <input type="text" placeholder="Other URL" tabindex="12" data-public--main-target="otherUrl"
                   class="w-2/3 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500
                    focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500
                     dark:placeholder-gray-400 dark:text-white" value="<%= url %>" name="account[urls][]">
            <button data-action="profile--urls#removeUrl" type="button" class="text-blue-700 border border-blue-700 hover:bg-blue-700 hover:text-white
             focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-1 text-center
              inline-flex items-center dark:border-blue-500 dark:text-blue-500 dark:hover:text-white
               dark:focus:ring-blue-800 mx-2">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                <path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6"/>
              </svg>
              <span class="sr-only">Icon description</span>
            </button>
            <button data-action="profile--urls#addUrl" type="button" class="group-[:last-child]:visible group-[:nth-of-type(4)]:visible group-[:nth-of-type(5)]:invisible invisible text-blue-700 border border-blue-700 hover:bg-blue-700 hover:text-white
             focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-1 text-center
              inline-flex items-center dark:border-blue-500 dark:text-blue-500 dark:hover:text-white
               dark:focus:ring-blue-800 mx-2">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6"/>
              </svg>
              <span class="sr-only">Icon description</span>
            </button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>